Repository jmfontaine/dgkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: cog-check, ty-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 5ba58aca0bd5bc7c0e1c0fc45af2e88d6a2bde83 # frozen: v0.14.10
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/crate-ci/typos
    rev: b31d3aa6e8e43e6a9cf7a1d137baf189dec0922b # frozen: v1
    hooks:
      - id: typos
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: 7339935a3036f096ee0d7f1f047a9ec41707d4c1 # frozen: v0.20.0
    hooks:
      - id: markdownlint-cli2
        args: [--fix]
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: ef33b2d7a105065b31aedaec9a74ed6f5cb6877b # frozen: 4.0.0a2
    hooks:
      - id: sqlfluff-lint
        files: ^src/dgkit/sql/
  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: d252a2a7678b47d1f2eea2f6b846ddfdcd012759 # frozen: v2.11.1
    hooks:
      - id: pyproject-fmt
  - repo: local
    hooks:
      - id: cog-check
        name: cog --check
        entry: uv run cog --check README.md
        language: system
        files: ^(README\.md|src/dgkit/cli\.py)$
        pass_filenames: false
      - id: ty-check
        name: ty check
        entry: ty check
        language: system
        types: [python]
        pass_filenames: false

WIP
  docs/agent/project-philosophy.md
Due: none

WIP
  .pre-commit-config.yaml
  README.md
  src/dgkit/cli.py
  src/dgkit/filters.py
  src/dgkit/pipeline.py
  src/dgkit/readers.py
  src/dgkit/summary.py
  src/dgkit/types.py
  src/dgkit/validation.py
  src/dgkit/writers.py
Due: cog-check, ty-check

WIP
  docs/agent/project-philosophy.md
  src/dgkit/cli.py
  src/dgkit/pipeline.py
Due: cog-check, ty-check

WIP
  src/dgkit/models.py
  src/dgkit/parsers.py
  tests/unit/test_parsers.py
Due: ty-check

WIP
  src/dgkit/cli.py
  src/dgkit/filters.py
  src/dgkit/pipeline.py
  src/dgkit/readers.py
  src/dgkit/types.py
  src/dgkit/validation.py
Due: cog-check, ty-check

WIP
  .gitignore
  notes.md
  uv.lock
Due: none

WIP
  .gitignore
  CLAUDE.md
  README.md
  docs/agent/benchmarking.md
  src/dgkit/cli.py
  src/dgkit/sampler.py
  tests/integration/test_sample.py
Due: cog-check, ty-check

WIP
  .gitignore
  README.md
  docs/agent/repository-structure.md
  src/dgkit/cli.py
  src/dgkit/parsers.py
  src/dgkit/pipeline.py
  src/dgkit/sampler.py
  src/dgkit/types.py
  tests/integration/test_cli.py
  tests/integration/test_sample.py
Due: cog-check, ty-check

WIP
  src/dgkit/parsers.py
  src/dgkit/types.py
  tests/unit/test_parsers.py
Due: ty-check

WIP
  .gitignore
  benchmarks/README.md
  benchmarks/run.sh
  benchmarks/setup.sh
  docs/agent/benchmarking.md
  docs/agent/repository-structure.md
  justfile
Due: none

WIP
  benchmarks/README.md
  benchmarks/run.py
  benchmarks/run.sh
  benchmarks/setup.py
  benchmarks/setup.sh
  docs/agent/benchmarking.md
  docs/agent/repository-structure.md
  justfile
Due: ty-check

WIP
  benchmarks/setup.py
  src/dgkit/cli.py
Due: cog-check, ty-check

WIP
  .gitignore
Due: none

WIP
  pyproject.toml
  uv.lock
Due: none

WIP
  src/dgkit/filters.py
  src/dgkit/models.py
  src/dgkit/writers.py
Due: ty-check

WIP
  docs/agent/benchmarking.md
  docs/agent/coding-style.md
  docs/agent/decision-log.md
  docs/agent/decisions/0002-parser-performance-optimizations.md
  src/dgkit/parsers.py
Due: ty-check

WIP
  .github/workflows/wheels.yml
  .gitignore
  justfile
  pyproject.toml
  setup.py
  src/dgkit/types.py
  uv.lock
Due: ty-check

WIP
  README.md
  src/dgkit/parsers.py
Due: cog-check, ty-check

WIP
  .gitignore
  justfile
  notes.md
  pyproject.toml
  setup.py
  uv.lock
Due: ty-check

WIP
  benchmarks/run.py
Due: ty-check

WIP
  tests/unit/test_filters.py
  tests/unit/test_parsers.py
  tests/unit/test_pipeline.py
  tests/unit/test_writers.py
Due: ty-check

WIP
  .python-version
  docs/agent/decision-log.md
  docs/agent/decisions/0003-pipeline-concurrency-architecture.md
Due: none

Add Dependabot
  .github/dependabot.yml
Due: none

Add GHA workflows
  .github/workflows/qa.yml
  .github/workflows/release.yml
Due: none

Add demo gif
  CLAUDE.md
  README.md
  docs/user/assets/demo.gif
  docs/user/assets/demo.tape
  justfile
Due: cog-check

WIP
  docs/user/assets/demo.gif
  docs/user/assets/demo.tape
  justfile
  src/dgkit/models.py
  src/dgkit/parsers.py
  src/dgkit/pipeline.py
  src/dgkit/sql/postgresql/tables/artist.sql
  src/dgkit/sql/postgresql/tables/label.sql
  src/dgkit/sql/postgresql/tables/masterrelease.sql
  src/dgkit/sql/postgresql/tables/release.sql
  src/dgkit/sql/sqlite/tables/artist.sql
  src/dgkit/sql/sqlite/tables/label.sql
  src/dgkit/sql/sqlite/tables/masterrelease.sql
  src/dgkit/sql/sqlite/tables/release.sql
  src/dgkit/writers.py
  tests/unit/test_pipeline.py
Due: ty-check

WIP
  README.md
  docs/user/assets/demo.gif
  docs/user/assets/demo.tape
  src/dgkit/cli.py
  tests/integration/test_cli.py
  tests/integration/test_postgresql.py
Due: cog-check, ty-check

WIP
  README.md
  src/dgkit/cli.py
  src/dgkit/models.py
  src/dgkit/parsers.py
  src/dgkit/pipeline.py
  src/dgkit/sql/postgresql/tables/artist.sql
  src/dgkit/sql/postgresql/tables/label.sql
  src/dgkit/sql/postgresql/tables/masterrelease.sql
  src/dgkit/sql/postgresql/tables/release.sql
  src/dgkit/sql/sqlite/tables/release.sql
  src/dgkit/writers.py
  tests/unit/test_parsers.py
Due: cog-check, ty-check

WIP
  README.md
  pyproject.toml
  src/dgkit/cli.py
  src/dgkit/pipeline.py
  uv.lock
Due: cog-check, ty-check

WIP
  docs/agent/decisions/0004-parser-performance-optimization.md
  profile.py
  src/dgkit/pipeline.py
Due: ty-check

WIP
  docs/agent/decisions/0004-parser-performance-optimization.md
  pyproject.toml
  src/dgkit/filters.py
  src/dgkit/models.py
  src/dgkit/writers.py
  uv.lock
Due: ty-check

WIP
  docs/agent/decisions/0004-parser-performance-optimization.md
  src/dgkit/parsers.py
Due: ty-check

WIP
  docs/agent/decisions/0004-parser-performance-optimization.md
Due: none

WIP
  notes.md
Due: none

chore: bump version to 0.2.0.dev0
  pyproject.toml
  uv.lock
Due: none
